body {
    background-color: seashell;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

header {
    color:#784786;
    font-size: 25;
    text-align: center;
}

figure {
    margin: 0;
}

.thin {
    flex-basis: 20%;
    margin-right: auto;
    margin-left: 0;
}

.titlethin {
    text-align: center;
    color: #6b3f77;
}
.text {
    color: #784786;
}

.thick {
    flex-basis: 70%;
    margin-left: auto;
    margin-right: 0;
}

.ratio {
    position: relative;
    padding-bottom: 115%;
}

.ratio iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

}
iframe {
    max-width: 100%; 

}
